@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

.img-clickable {
  @apply cursor-pointer rounded-md hover:shadow-lg hover:shadow-indigo-800 select-none;
}

.ui-button {
  @apply img-clickable bg-black text-white flex-center;
}

.calculator-button {
  @apply p-5 ui-button;
}

.fixed-max-height {
  max-height: 500px;
  overflow: auto;
}

@media (min-width: 1024px) {
  .fixed-max-height {
    max-height: 600px;
  }
}

.small-img {
  @apply h-60 w-60 lg:w-auto;
}

/* Scroll bars */

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply rounded-lg  bg-slate-500;
}

::-webkit-scrollbar-thumb {
  @apply w-3 rounded-3xl bg-slate-900;
}
